body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "SF-Pro-Display-Semibold", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: #bcdfe7 transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
}

h1,
p {
  margin: 0 0 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
